{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block contint %}
<div>
    <h1 style="text-align: center" >About</h1>    
    <h2 style="text-align: left" class="title">Library Policy for Adding Books and Publishers</h2>
    <div class="section">
        <p>To ensure the accuracy and consistency of our library catalog, employees must adhere to the following policies
            and guidelines when adding books and publishers to the database: </p>
    </div>
    <h3 id="Book Addition Guidelines" class="title">Book Addition Guidelines</h3>
    <div class="section">
        <div>
            <ul>
                <li>  Verify the book's details (e.g., title, author, version, year of publication, etc) against
                    authoritative sources such as the publisher's website or official bibliographic databases before adding
                    it to the system.</li>
                <li>  Assign the appropriate location based on the library's classification system.</li>
                <li>  Include any relevant metadata in the descrubtion, such as subject headings, keywords, or genres, to
                    improve catalog accessibility.</li>
                <li>  Ensure the physical location of the book (e.g., Gener,section , shelf) is accurately recorded in the
                    system.</li>
                <li>  Cross-check for duplicates in the catalog to avoid multiple entries of the same title or edition.
                </li>
            </ul>
        </div>
    </div> 
</div>
{% endblock %}